@import "tailwindcss";

@theme {
  --color-gold-50: oklch(98.5% 0.02 85);
  --color-gold-100: oklch(96% 0.06 85);
  --color-gold-200: oklch(92% 0.11 85);
  --color-gold-300: oklch(88% 0.15 85);
  --color-gold-400: oklch(86% 0.18 85);
  --color-gold-500: oklch(85% 0.19 85);
  --color-gold-600: oklch(75% 0.17 85);
  --color-gold-700: oklch(65% 0.15 85);
  --color-gold-800: oklch(55% 0.12 85);
  --color-gold-900: oklch(42% 0.09 85);
  --color-gold-950: oklch(28% 0.06 85);
}

@layer components {
  .bg-gold {
    @apply bg-gradient-to-br from-gold-600 via-yellow-300 to-gold-600;
  }

  .btn-gold {
    @apply inline-flex items-center justify-center gap-2 rounded-full font-semibold text-gold-900 shadow-xl transition duration-300;
    @apply bg-gradient-to-br from-gold-600 via-yellow-300 to-gold-600;
  }

  .btn-gold:hover {
    @apply shadow-2xl;
    @apply bg-gradient-to-br from-gold-400 via-yellow-100 to-gold-300;
  }

  .btn-emerald-white {
    @apply inline-flex items-center justify-center gap-2 rounded-full font-semibold border-2 border-emerald-600 text-emerald-600 transition duration-300;
    @apply bg-white
  }

  .btn-emerald-white:hover {
    @apply shadow-2xl;
    @apply bg-emerald-600 text-white;
  }

  .btn-emerald {
    @apply inline-flex items-center justify-center gap-2 rounded-full font-semibold border-2 border-white transition duration-300;
    @apply bg-emerald-600 text-white;
  }

  .btn-emerald:hover {
    @apply bg-white text-emerald-600 border-2 border-emerald-600;
  }

  .text-gold-gradient {
    @apply bg-gradient-to-r from-gold-600 via-gold-400 to-gold-600 bg-clip-text text-transparent;
  }
}
